@using Capstone_Xavier.Models

@model UserModel

@{
    ViewBag.Title = "Profile";
}

<h2>@ViewData["Title"]</h2>

<div class="info-box" style="top: 4vw; height: 15vw;">
    <label>Name</label>
    <p class="c-info">@Model.username</p>
    <label>Email</label>
    <p class="c-info">@Model.email</p>
    <label>Password</label>
    <p class="c-info">@Model.password</p>
</div>

<div class="nav-side">
    <div class="dropdown">
        <button onclick="dropDown()" class="dropBtn">More</button>
        <div id="myDropdown" class="dropdown-item">
            @Html.ActionLink("Home", "Users", "Home")
            @if (Session["Role"].ToString() == "1" || Session["Role"].ToString() == "2")
            {
                @Html.ActionLink("Admin", "Admin", "Admin");
            }
            @Html.ActionLink("FAQS", "FAQS", "Home")
            @Html.ActionLink("Logout", "Logout", "Home")
        </div>
    </div>
    @using (Html.BeginForm("UserInfo", "User", Model, FormMethod.Post))
    {
        <div>
            <div class="input">
                <label>Username</label>
                <span class="icon-input"></span>
                @Html.EditorFor(UserModel => UserModel.username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter new username" } })

            </div>
            <br>
            <div class="input">
                <label>New Password</label>
                <span class="icon-input"></span>

                @Html.EditorFor(UserModel => UserModel.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter New Password"} })

            </div>
            <br>
            <div class="input">
                <label>Confirm Password</label>
                <span class="icon-input"></span>

                @Html.EditorFor(UserModel => UserModel.confirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm New Password" } })

            </div>
            <br>
            <div class="input">
                <label>Email</label>
                <span class="icon-input"></span>

                @Html.EditorFor(UserModel => UserModel.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter New Email" } })

            </div>
        </div>

        <button type="submit" class="btn-user" onclick="">Submit</button>
    }
</div>